#chart {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

rect.day, rect.month, rect.rr {
  fill: #fff;
  stroke: #ccc;
}

text.rr_title_x, text.rr_title_y {
    font-weight: bold;
    font-size: 12px;
    text-transform:uppercase;
    fill: #CCC;
}

path.month, path.year {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

div#vertical_nav {
    /*position: fixed;
    top: 60px;*/
}

div#nav_pages {
    position: fixed;
    bottom: 0px;
}

div#weibo_table_container {
    position: fixed;
    top: 60px;
}
