#chart {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

rect.day, rect.month {
  fill: #fff;
  stroke: #ccc;
}

path.month, path.year {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

div#vertical_nav {
    position: fixed;
    top: 60px;
}

div#weibo_table_container {
    position: fixed;
    top: 60px;
}
